!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title Russian QR-Code
    %link{:href => "css/home.css", :rel => "stylesheet"}/
  %body#page-top
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container.px-4
        %a.navbar-brand{:href => "#page-top"} Russian QR-Code
        %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarResponsive", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.ms-auto
            %li.nav-item
              %a.nav-link{:href => ""} Зарегистрироваться
            %li.nav-item
              %a.nav-link{:href => "/login"} Войти
    / Header
    %header.bg-primary.bg-gradient.text-white
      .container.px-4.text-center
        %h1.fw-bolder Добро пожаловать на главную страницу!
        %p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum venenatis erat, et faucibus metus dictum et. Suspendisse eget lorem ut ipsum volutpat viverra eu non justo.
        %a.btn.btn-lg.btn-light{:href => ""} Lorem ipsum!
    / About section
    %section#about
      .container.px-4
        .row.gx-4.justify-content-center
          .col-lg-8
            %h2 Об этой странице
            %p.lead Данная страница является отправной точкой нашего нового приложения. На данной странице представлен эскиз, который в будущем будет дорабатываться :)
    / Services section
    %section#services.bg-light
      .container.px-4
        .row.gx-4.justify-content-center
          .col-lg-8
            %h2 Услуги, которые мы предлагаем
            %p.lead В данном блоке необходимо описать суть нашего приложения, чтобы будущий пользователь мог понять зачем он сюда пришел.
    / Footer
    %footer.py-5.bg-dark
      .container.px-4
        %p.m-0.text-center.text-white Copyright © Evrone 2021
        