!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Войти в систему
    %link{:href => "css/login.css", :rel => "stylesheet"}/
  %body.main-bg
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container.px-4
        %a.navbar-brand{:href => "/"} Russian QR-Code
        %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarResponsive", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.ms-auto
            %li.nav-item
              %a.nav-link{:href => "/signup"} Зарегистрироваться
            %li.nav-item
              %a.nav-link{:href => "/login"} Войти
    / Login Form
    %header.container
      .row.justify-content-center.mt-5
        .col-lg-4.col-md-6.col-sm-6
          .card.shadow
            .card-title.text-center.border-bottom
              %h2.p-3 Войти в систему
            .card-body
              %form
                .mb-4
                  %label.form-label{:for => "username"} Телефон, почта или СНИЛС
                  %input#username.form-control{:type => "text"}/
                .mb-4
                  %label.form-label{:for => "password"} Пароль
                  %input#password.form-control{:type => "password"}/
                .mb-4
                  %input#remember.form-check-input{:type => "checkbox"}/
                  %label.form-label{:for => "remember"} Запомнить логин и пароль
                .d-grid 
                  %button.btn.text-light.main-bg{:type => "submit"} Войти
                .center-label
                  .mt-4 
                    %label.form-label{:for => "register"} Еще не зарегистрированы?
                .d-grid
                  = link_to 'Зарегистрироваться', '/signup', class: 'btn text-light secondary-bg'
    / Footer
    %footer.py-5.bg-dark
      .container.px-4
        %p.m-0.text-center.text-white Copyright © Evrone 2021